<!DOCTYPE html>
<html>
<head>
	<title ng-bind="'pageTitle'|translate:pageTitleParams">Default Page Title</title>
    <link rel="stylesheet" href="resourceRoot/bootstrap/dist/css/bootstrap.css"/>

    <link rel="stylesheet" href="<%=resourceRoot%>/stylesheets/global.css"/>
    <link rel="stylesheet" href="<%=resourceRoot%>/stylesheets/main.css"/>
    <!--client-stylus:<link rel="stylesheet" href="<%=resourceRoot%>/stylesheets/[[%=nameCamel%>.css"/>[[%='\n\t'%>-->

	<!-- Needs to be load before RequireJS (clashes!!!): -->
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
	
    <script type="text/javascript" src="<%=resourceRoot%>/requirejs/require.js"></script>
    <script type="text/javascript" src="<%=resourceRoot%>/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="<%=resourceRoot%>/angular/angular.min.js"></script>
    <script type="text/javascript" src="<%=resourceRoot%>/angular-resource/angular-resource.min.js"></script>
    <script type="text/javascript" src="<%=resourceRoot%>/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="<%=resourceRoot%>/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="<%=resourceRoot%>/angular-translate/angular-translate.min.js"></script>
    <script type="text/javascript" src="<%=resourceRoot%>/angular-translate-loader-partial/angular-translate-loader-partial.min.js"></script>
    <script type="text/javascript" src="<%=resourceRoot%>/linqjs-amd/linq.js"></script>
    <script type="text/javascript" src="<%=resourceRoot%>/angularjs-modal-service/src/createDialog.js"></script>
    <script type="text/javascript" src="<%=resourceRoot%>/angular-google-chart/ng-google-chart.js"></script>
	<script type="text/javascript" src="<%=resourceRoot%>/ng-socket/ngSocket.js"></script>

    <script type="application/javascript">
        var __webApp_ResourceVersion="<%=resourceVersion%>";
		var __webApp_ResourceRoot = "<%=resourceRoot%>";
    </script>
    <script type="text/javascript" src="<%=resourceRoot%>/scripts/config.js"></script>
</head>
<body>
<div class="page ng-cloak">
    <div class="menu">
        <ul>
            <li><a ui-sref="main">{{"headerMain"|translate}}</a></li>
            <li><a ui-sref="other">{{"headerOther"|translate}}</a></li>
        </ul>
    </div>
    <div class="content" ui-view></div>
</div>
</body>
</html>